# Autogest√£o - Banco de Dados Relacionais e SQL

Utilize DB-fiddle: https://www.db-fiddle.com/

### 1. Criando tabelas (15 min)

a. Crie uma tabela chamada filmes com as colunas:

* id (inteiro, chave prim√°ria, serial (autoincremento))
* titulo (texto, obrigat√≥rio)
* genero (texto, obrigat√≥rio)
* ano_lancamento (inteiro)

b. Crie uma tabela chamada avaliacoes com as colunas:

* id (inteiro, chave prim√°ria, serial(autoincremento))
* filme_id (inteiro, chave estrangeira que referencia a tabela filmes)
* nota (inteiro, de 1 a 5)
* comentario (texto, opcional)

In [ ]:
import sqlite3
import pandas as pd

# Criar conex√£o (banco em mem√≥ria ‚Üí ":memory:")
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

# Criar tabelas
cur.executescript("""
DROP TABLE IF EXISTS avaliacoes;
DROP TABLE IF EXISTS filmes;

CREATE TABLE filmes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  titulo TEXT NOT NULL,
  genero TEXT NOT NULL,
  ano_lancamento INT
);

CREATE TABLE avaliacoes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  filme_id INT NOT NULL,
  nota INT NOT NULL CHECK (nota BETWEEN 1 AND 5),
  comentario TEXT,
  FOREIGN KEY (filme_id) REFERENCES filmes(id)
);
""")

### 2. Inserindo linhas nas tabelas (15 min)

a. Insira 20 filmes diferentes na tabela, de g√™neros variados (a√ß√£o, com√©dia, drama, anima√ß√£o, etc.).

b. Insira 40 avalia√ß√µes para diferentes filmes, variando as notas (ex.: um filme com nota 5, outro com nota 3).

üëâ Dica: Podemos usar IA para gerar exemplos para Banco de Dados.

In [ ]:
# Inserir 20 filmes
cur.executescript("""
INSERT INTO filmes (titulo, genero, ano_lancamento) VALUES
('O Poderoso Chef√£o', 'Drama', 1972),
('Vingadores: Ultimato', 'A√ß√£o', 2019),
('Toy Story', 'Anima√ß√£o', 1995),
('Parasita', 'Drama', 2019),
('Coringa', 'Drama', 2019),
('Jurassic Park', 'Aventura', 1993),
('Matrix', 'Fic√ß√£o Cient√≠fica', 1999),
('Shrek', 'Anima√ß√£o', 2001),
('Titanic', 'Romance', 1997),
('O Senhor dos An√©is: A Sociedade do Anel', 'Fantasia', 2001),
('Pantera Negra', 'A√ß√£o', 2018),
('Se Beber, N√£o Case!', 'Com√©dia', 2009),
('Procurando Nemo', 'Anima√ß√£o', 2003),
('O Iluminado', 'Terror', 1980),
('Clube da Luta', 'Drama', 1999),
('Cidade de Deus', 'Drama', 2002),
('Homem-Aranha: Sem Volta Para Casa', 'A√ß√£o', 2021),
('Divertida Mente', 'Anima√ß√£o', 2015),
('O Rei Le√£o', 'Anima√ß√£o', 1994),
('Forrest Gump', 'Drama', 1994);
""")

# Inserir 40 avalia√ß√µes (2 por filme)
cur.executescript("""
INSERT INTO avaliacoes (filme_id, nota, comentario) VALUES
(1, 5, 'Um cl√°ssico absoluto.'),(1, 4, 'Longo, mas excelente.'),
(2, 5, 'Final √©pico.'),(2, 3, 'Muito efeito, pouca hist√≥ria.'),
(3, 5, 'Mudou a anima√ß√£o.'),(3, 4, 'Funciona para todas as idades.'),
(4, 5, 'Genial e tenso.'),(4, 4, 'Pesado, por√©m brilhante.'),
(5, 5, 'Atua√ß√£o impec√°vel.'),(5, 3, 'Sombrio pra meu gosto.'),
(6, 5, 'Revolucion√°rio nos efeitos.'),(6, 4, 'Dinossauros realistas.'),
(7, 5, 'Virada na fic√ß√£o cient√≠fica.'),(7, 4, 'Algumas partes confusas.'),
(8, 4, 'Divertido e esperto.'),(8, 5, 'Trilha sonora √≥tima.'),
(9, 5, 'Emocionante.'),(9, 3, 'Meloso.'),
(10, 5, 'Obra-prima √©pica.'),(10, 4, 'Longo, mas vale.'),
(11, 5, 'Representatividade + a√ß√£o.'),(11, 4, 'Bom, faltou desenvolvimento.'),
(12, 4, 'Rende boas risadas.'),(12, 3, 'Algumas piadas for√ßadas.'),
(13, 5, 'Linda hist√≥ria.'),(13, 4, 'Visual √≥timo.'),
(14, 5, 'Terror psicol√≥gico cl√°ssico.'),(14, 3, 'Ritmo lento √†s vezes.'),
(15, 5, 'Final surpreendente.'),(15, 4, 'Roteiro muito bom.'),
(16, 5, 'Impactante e real.'),(16, 4, 'Duro, mas necess√°rio.'),
(17, 5, 'Reuni√£o √©pica.'),(17, 4, 'Fan service divertido.'),
(18, 5, 'Sens√≠vel e criativo.'),(18, 4, 'Reflexivo sobre emo√ß√µes.'),
(19, 5, 'Atemporal.'),(19, 4, 'Trilha inesquec√≠vel.'),
(20, 5, 'Inspirador.'),(20, 4, 'Grande cinema.');
""")

# Conferir se os dados entraram (juntando filmes e avalia√ß√µes)
df = pd.read_sql_query("""
SELECT f.titulo, a.nota, a.comentario
FROM filmes f
JOIN avaliacoes a ON f.id = a.filme_id
LIMIT 20;
""", conn)

df.head()

### 3. Consultando filmes

a. Liste todos os filmes de um √∫nico g√™nero.

b. Depois, liste apenas os filmes lan√ßados depois de 2010.

c. Liste todos os filmes em ordem alfab√©tica de t√≠tulo.

d. Liste todos os filmes ordenados pelo ano de lan√ßamento (mais recente primeiro).

In [ ]:
# 1. Consulta: listar todos os filmes de um √∫nico g√™nero (exemplo: Drama)
# A query filtra apenas os registros da tabela filmes onde o g√™nero √© 'Drama'
df1 = pd.read_sql_query("SELECT * FROM filmes WHERE genero = 'Drama';", conn)

# Exibe os resultados da consulta (df1) em formato de tabela no Colab/Jupyter
display(df1)

# 2. Consulta: listar apenas os filmes lan√ßados depois de 2010
# A query retorna todos os filmes com ano_lancamento maior que 2010
df2 = pd.read_sql_query("SELECT * FROM filmes WHERE ano_lancamento > 2010;", conn)

# Exibe os resultados da consulta (df2)
display(df2)

# 3. Consulta: listar todos os filmes em ordem alfab√©tica de t√≠tulo
# A query ordena os registros da tabela filmes pela coluna titulo em ordem crescente (ASC)
df3 = pd.read_sql_query("SELECT * FROM filmes ORDER BY titulo ASC;", conn)

# Exibe os resultados da consulta (df3)
display(df3)

# 4. Consulta: listar todos os filmes ordenados pelo ano de lan√ßamento (mais recente primeiro)
# A query ordena pela coluna ano_lancamento em ordem decrescente (DESC),
# o que traz primeiro os filmes mais novos
df4 = pd.read_sql_query("SELECT * FROM filmes ORDER BY ano_lancamento DESC;", conn)

# Exibe os resultados da consulta (df4)
display(df4)

### 4. Consultando avalia√ß√µes

a. Liste todas as avalia√ß√µes ordenadas por nota decrescente.

b. Selecione todas as avalia√ß√µes com nota maior ou igual a 4.

c. Selecione os coment√°rios em que aparece as palavras 'bom' ou 'gostei'.

In [ ]:
# 1. Liste todas as avalia√ß√µes ordenadas por nota decrescente
df1 = pd.read_sql_query("""
SELECT * FROM avaliacoes
ORDER BY nota DESC;
""", conn)
display(df1)

# 2. Selecione todas as avalia√ß√µes com nota maior ou igual a 4
df2 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE nota >= 4;
""", conn)
display(df2)

# 3. Selecione os coment√°rios em que aparece as palavras 'bom' ou 'gostei'
df3 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE comentario LIKE '%bom%'
   OR comentario LIKE '%gostei%';
""", conn)
display(df3)

### 5. Fun√ß√µes de agrega√ß√£o

a. Verifique quantos filmes existem na tabela para cada g√™nero.

b. Calcule a m√©dia das notas por filme (agrupando pelo filme_id).

c. Liste apenas os filmes com nota m√©dia maior que 4.

In [ ]:
# 1. Liste todos os filmes de um √∫nico g√™nero (exemplo: Drama)
df1 = pd.read_sql_query("""
SELECT * FROM filmes
WHERE genero = 'Drama';
""", conn)
display(df1)

# 2. Liste apenas os filmes lan√ßados depois de 2010
df2 = pd.read_sql_query("""
SELECT * FROM filmes
WHERE ano_lancamento > 2010;
""", conn)
display(df2)

# 3. Liste todos os filmes em ordem alfab√©tica de t√≠tulo
df3 = pd.read_sql_query("""
SELECT * FROM filmes
ORDER BY titulo ASC;
""", conn)
display(df3)

# 4. Liste todos os filmes ordenados pelo ano de lan√ßamento (mais recente primeiro)
df4 = pd.read_sql_query("""
SELECT * FROM filmes
ORDER BY ano_lancamento DESC;
""", conn)
display(df4)

# 5. Liste todas as avalia√ß√µes ordenadas por nota decrescente
df5 = pd.read_sql_query("""
SELECT * FROM avaliacoes
ORDER BY nota DESC;
""", conn)
display(df5)

# 6. Selecione todas as avalia√ß√µes com nota maior ou igual a 4
df6 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE nota >= 4;
""", conn)
display(df6)

# 7. Selecione os coment√°rios em que aparece as palavras 'bom' ou 'gostei'
df7 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE comentario LIKE '%bom%' OR comentario LIKE '%gostei%';
""", conn)
display(df7)

# 8. Verifique quantos filmes existem na tabela para cada g√™nero
df8 = pd.read_sql_query("""
SELECT genero, COUNT(*) AS total_genero
FROM filmes
GROUP BY genero;
""", conn)
display(df8)

# 9. Calcule a m√©dia das notas por filme (agrupando pelo filme_id)
df9 = pd.read_sql_query("""
SELECT filme_id, AVG(nota) AS media_nota
FROM avaliacoes
GROUP BY filme_id;
""", conn)
display(df9)

# 10. Liste apenas os filmes com nota m√©dia maior que 4
df10 = pd.read_sql_query("""
SELECT filme_id, AVG(nota) AS media_nota
FROM avaliacoes
GROUP BY filme_id
HAVING AVG(nota) > 4;
""", conn)
display(df10)

### 6. Atualizando e removendo registros

a. Atualize a nota de uma avalia√ß√£o de 3 para 4.

b. Delete todas as avalia√ß√µes com nota igual a 1.

In [ ]:
# Conferir a avalia√ß√£o com id = 3 (se a nota foi atualizada para 4)
df_check1 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE id = 3;
""", conn)
display(df_check1)

# Conferir se ainda existem avalia√ß√µes com nota = 1 (deveria n√£o trazer nada)
df_check2 = pd.read_sql_query("""
SELECT * FROM avaliacoes
WHERE nota = 1;
""", conn)
display(df_check2)

## Parte 2 - Pr√°tica em SQLite com Python

Usando Python e o pacote sqlite3:

a. Crie o banco de dados local `cinema.db` e adicione as tabelas filmes e avaliacoes com os campos definidos acima.

b. Implemente as quatro opera√ß√µes CRUD para ambas tabelas, ou seja, insira, leia, atualize e remova registros diretamente pelo Python.

In [ ]:
"""
Aula 06 ‚Äì SQLite + Python (sqlite3)
Arquivo: aula06_sqlite_crud.py
Objetivo:
  a) Criar o banco local cinema.db e as tabelas filmes e avaliacoes
  b) Implementar CRUD completo para ambas as tabelas
"""

import sqlite3
from typing import List, Tuple, Optional

DB_PATH = "cinema.db"   # no Colab pode usar: "/content/cinema.db"

# ---------------------------
# Conex√£o e cria√ß√£o de tabelas
# ---------------------------
def get_conn(db_path: str = DB_PATH) -> sqlite3.Connection:
    conn = sqlite3.connect(db_path)
    conn.execute("PRAGMA foreign_keys = ON;")  # habilita FK no SQLite
    return conn

def create_tables(conn: sqlite3.Connection) -> None:
    cur = conn.cursor()
    cur.executescript("""
    DROP TABLE IF EXISTS avaliacoes;
    DROP TABLE IF EXISTS filmes;

    CREATE TABLE filmes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        titulo TEXT NOT NULL,
        genero TEXT NOT NULL,
        ano_lancamento INTEGER
    );

    CREATE TABLE avaliacoes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        filme_id INTEGER NOT NULL,
        nota INTEGER NOT NULL CHECK (nota BETWEEN 1 AND 5),
        comentario TEXT,
        FOREIGN KEY (filme_id) REFERENCES filmes(id) ON DELETE CASCADE
    );
    """)
    conn.commit()

# ---------------------------
# CRUD ‚Äì FILMES
# ---------------------------
def add_filme(conn: sqlite3.Connection, titulo: str, genero: str, ano: Optional[int]) -> int:
    """CREATE: insere um filme e retorna o id gerado"""
    cur = conn.cursor()
    cur.execute(
        "INSERT INTO filmes (titulo, genero, ano_lancamento) VALUES (?, ?, ?)",
        (titulo, genero, ano),
    )
    conn.commit()
    return cur.lastrowid

def get_filmes(conn: sqlite3.Connection) -> List[Tuple]:
    """READ: retorna todos os filmes"""
    return conn.execute("SELECT id, titulo, genero, ano_lancamento FROM filmes").fetchall()

def get_filme_by_id(conn: sqlite3.Connection, filme_id: int) -> Optional[Tuple]:
    """READ: retorna um filme pelo id"""
    return conn.execute(
        "SELECT id, titulo, genero, ano_lancamento FROM filmes WHERE id = ?",
        (filme_id,),
    ).fetchone()

def update_filme(conn: sqlite3.Connection, filme_id: int, titulo: str, genero: str, ano: Optional[int]) -> int:
    """UPDATE: atualiza um filme; retorna n√∫mero de linhas afetadas"""
    cur = conn.cursor()
    cur.execute(
        "UPDATE filmes SET titulo = ?, genero = ?, ano_lancamento = ? WHERE id = ?",
        (titulo, genero, ano, filme_id),
    )
    conn.commit()
    return cur.rowcount

def delete_filme(conn: sqlite3.Connection, filme_id: int) -> int:
    """DELETE: apaga um filme (e avalia√ß√µes relacionadas por ON DELETE CASCADE)"""
    cur = conn.cursor()
    cur.execute("DELETE FROM filmes WHERE id = ?", (filme_id,))
    conn.commit()
    return cur.rowcount

# ---------------------------
# CRUD ‚Äì AVALIA√á√ïES
# ---------------------------
def add_avaliacao(conn: sqlite3.Connection, filme_id: int, nota: int, comentario: Optional[str]) -> int:
    """CREATE: insere avalia√ß√£o e retorna id gerado"""
    cur = conn.cursor()
    cur.execute(
        "INSERT INTO avaliacoes (filme_id, nota, comentario) VALUES (?, ?, ?)",
        (filme_id, nota, comentario),
    )
    conn.commit()
    return cur.lastrowid

def get_avaliacoes(conn: sqlite3.Connection) -> List[Tuple]:
    """READ: retorna todas as avalia√ß√µes"""
    return conn.execute("SELECT id, filme_id, nota, comentario FROM avaliacoes").fetchall()

def get_avaliacoes_por_filme(conn: sqlite3.Connection, filme_id: int) -> List[Tuple]:
    """READ: retorna avalia√ß√µes de um filme"""
    return conn.execute(
        "SELECT id, filme_id, nota, comentario FROM avaliacoes WHERE filme_id = ?",
        (filme_id,),
    ).fetchall()

def update_avaliacao(conn: sqlite3.Connection, avaliacao_id: int, nota: int, comentario: Optional[str]) -> int:
    """UPDATE: atualiza uma avalia√ß√£o"""
    cur = conn.cursor()
    cur.execute(
        "UPDATE avaliacoes SET nota = ?, comentario = ? WHERE id = ?",
        (nota, comentario, avaliacao_id),
    )
    conn.commit()
    return cur.rowcount

def delete_avaliacao(conn: sqlite3.Connection, avaliacao_id: int) -> int:
    """DELETE: apaga uma avalia√ß√£o"""
    cur = conn.cursor()
    cur.execute("DELETE FROM avaliacoes WHERE id = ?", (avaliacao_id,))
    conn.commit()
    return cur.rowcount

# ---------------------------
# Consultas √∫teis (SELECT)
# ---------------------------
def filmes_por_genero(conn: sqlite3.Connection, genero: str) -> List[Tuple]:
    return conn.execute(
        "SELECT id, titulo, genero, ano_lancamento FROM filmes WHERE genero = ?",
        (genero,),
    ).fetchall()

def filmes_depois_de(conn: sqlite3.Connection, ano: int) -> List[Tuple]:
    return conn.execute(
        "SELECT id, titulo, genero, ano_lancamento FROM filmes WHERE ano_lancamento > ?",
        (ano,),
    ).fetchall()

def media_por_filme(conn: sqlite3.Connection) -> List[Tuple]:
    return conn.execute(
        "SELECT filme_id, AVG(nota) AS media_nota FROM avaliacoes GROUP BY filme_id"
    ).fetchall()

def media_maior_que(conn: sqlite3.Connection, limite: float) -> List[Tuple]:
    return conn.execute(
        "SELECT filme_id, AVG(nota) AS media_nota FROM avaliacoes GROUP BY filme_id HAVING AVG(nota) > ?",
        (limite,),
    ).fetchall()

# ---------------------------
# Demonstra√ß√£o (opcional)
# ---------------------------
if __name__ == "__main__":
    conn = get_conn()
    create_tables(conn)

    # --- CREATE (inserir alguns filmes) ---
    f1 = add_filme(conn, "O Poderoso Chef√£o", "Drama", 1972)
    f2 = add_filme(conn, "Matrix", "Fic√ß√£o Cient√≠fica", 1999)
    f3 = add_filme(conn, "Shrek", "Anima√ß√£o", 2001)

    # --- CREATE (inserir avalia√ß√µes) ---
    a1 = add_avaliacao(conn, f1, 5, "Cl√°ssico absoluto.")
    a2 = add_avaliacao(conn, f1, 4, "Excelente, mas longo.")
    a3 = add_avaliacao(conn, f2, 5, "Mind-blowing.")
    a4 = add_avaliacao(conn, f3, 4, "Engra√ßado e fofo.")

    # --- READ ---
    print("Filmes:", get_filmes(conn))
    print("Avalia√ß√µes do filme 1:", get_avaliacoes_por_filme(conn, f1))

    # --- UPDATE ---
    print("Atualizando nota da avalia√ß√£o a4 para 5...")
    update_avaliacao(conn, a4, 5, "Ainda melhor na revis√£o.")

    # --- DELETE ---
    # Ex.: delete_avaliacao(conn, a2)
    # Ex.: delete_filme(conn, f3)  # apaga o filme e suas avalia√ß√µes (ON DELETE CASCADE)

    # --- Consultas √∫teis ---
    print("Drama:", filmes_por_genero(conn, "Drama"))
    print("Depois de 2000:", filmes_depois_de(conn, 2000))
    print("M√©dia por filme:", media_por_filme(conn))
    print("M√©dia > 4:", media_maior_que(conn, 4))

    conn.close()