#Mini-projeto: Lidando com Bancos de Dados

Nesta tarefa, você deverá desenvolver um mini-projeto em Python utilizando SQLite3, colocando em prática os conceitos de criação e manipulação de dados em um banco relacional.


## Objetivo da atividade

* Verificar se você compreende como:

* Criar tabelas em SQLite;

* Inserir dados em um banco de dados;

* Consultar registros de diferentes formas;

* Atualizar informações já cadastradas;

* Excluir registros de uma tabela.

## Formato e Data de Entrega

**Você deve enviar o link para um Google Colab até o dia 28/09.**

## Critérios de avaliação

* Banco criado corretamente, com a estrutura definida.

* Inserção correta de pelo menos 50 registros.

* Consultas SQL funcionando.

* Atualizações realizadas corretamente.

* Exclusões funcionando sem erros.

* Organização e clareza do código.

## O que deve ser feito

### 1. Criar a tabela

* Nome: alunas.

* Colunas obrigatórias:

- id (inteiro, chave primária, autoincremento)

- nome (texto, obrigatório)

- email (texto, único, obrigatório)

- data_nascimento (data, obrigatório)

- data_cadastro (data/hora, com valor padrão atual).

In [1]:
# Importa a biblioteca sqlite3 (já vem junto com o Python)
# Permitindo criar e manipular bancos de dados SQLite.
import sqlite3

# Abre (ou cria) uma conexão com o banco de dados chamado 'alunas.db'.
# - Se o arquivo 'alunas.db' não existir na pasta atual, ele será criado automaticamente.
# - Se já existir, apenas abre esse banco.
# - A variável 'conn' vai representar essa conexão ativa.
conn = sqlite3.connect('alunas.db')

# Cria um objeto "cursor" a partir da conexão.
# O cursor é quem executa os comandos SQL dentro do banco.
cur = conn.cursor()

In [29]:
# Cria a tabela 'alunas' (se ainda não existir)
# Usamos IF NOT EXISTS para evitar erro caso a tabela já tenha sido criada antes.
cur.execute("""
CREATE TABLE IF NOT EXISTS alunas (
    id integer primary key autoincrement,
    nome text not null,
    email text unique not null,
    data_nascimento date not null,
    data_cadastro datetime default current_timestamp
    );
    """)

# Salva (confirma) as alterações feitas no banco de dados
conn.commit()

In [ ]:
# Lista todas as tabelas que existem dentro do banco de dados atual
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Mostra o resultado da consulta
print(cur.fetchall())

### 2. Inserir registros

* Inserir pelo menos 50 alunas diferentes na tabela, preenchendo todos os campos obrigatórios.

# Versão 1:

Inserindo registros manualmente

In [ ]:
# Inserindo registros na tabela alunas:

cur.execute("""
INSERT INTO alunas (nome, email, data_nascimento) VALUES
('Maria Souza', 'maria.souza@email.com', '2000-01-15'),
('Ana Silva', 'ana.silva@email.com', '2000-03-22'),
('João Santos', 'joao.santos@email.com', '2001-05-11'),
('Carla Oliveira', 'carla.oliveira@email.com', '2001-07-29'),
('Fernanda Costa', 'fernanda.costa@email.com', '2002-02-14'),
('Juliana Rocha', 'juliana.rocha@email.com', '2002-09-07'),
('Patrícia Lima', 'patricia.lima@email.com', '2003-04-19'),
('Renata Martins', 'renata.martins@email.com', '2003-12-30'),
('Camila Almeida', 'camila.almeida@email.com', '2004-06-10'),
('Beatriz Ferreira', 'beatriz.ferreira@email.com', '2004-11-25'),
('Larissa Ribeiro', 'larissa.ribeiro@email.com', '2005-08-13'),
('Tatiane Mendes', 'tatiane.mendes@email.com', '2005-10-01'),
('Vanessa Araujo', 'vanessa.araujo@email.com', '2006-01-09'),
('Cláudia Barros', 'claudia.barros@email.com', '2006-07-17'),
('Paula Gomes', 'paula.gomes@email.com', '2007-03-28'),
('Sandra Nunes', 'sandra.nunes@email.com', '2007-11-21'),
('Helena Duarte', 'helena.duarte@email.com', '2008-05-06'),
('Gabriela Mello', 'gabriela.mello@email.com', '2008-12-14'),
('Daniela Pinto', 'daniela.pinto@email.com', '2009-04-03'),
('Isabela Moreira', 'isabela.moreira@email.com', '2009-09-19'),
('Raquel Carvalho', 'raquel.carvalho@email.com', '2010-02-27'),
('Aline Farias', 'aline.farias@email.com', '2010-08-12'),
('Simone Prado', 'simone.prado@email.com', '2011-01-05'),
('Débora Teixeira', 'debora.teixeira@email.com', '2011-06-23'),
('Cíntia Ramos', 'cintia.ramos@email.com', '2012-03-15'),
('Letícia Borges', 'leticia.borges@email.com', '2012-09-09'),
('Priscila Tavares', 'priscila.tavares@email.com', '2013-05-18'),
('Bianca Lopes', 'bianca.lopes@email.com', '2013-12-02'),
('Monique Silva', 'monique.silva@email.com', '2014-04-07'),
('Tatiana Moura', 'tatiana.moura@email.com', '2014-10-22'),
('Viviane Castro', 'viviane.castro@email.com', '2015-01-11'),
('Elaine Pires', 'elaine.pires@email.com', '2015-07-30'),
('Rafaela Cardoso', 'rafaela.cardoso@email.com', '2016-02-19'),
('Nathalia Monteiro', 'nathalia.monteiro@email.com', '2016-11-08'),
('Caroline Macedo', 'caroline.macedo@email.com', '2017-06-25'),
('Mariana Freitas', 'mariana.freitas@email.com', '2017-12-13'),
('Andreia Duarte', 'andreia.duarte@email.com', '2018-03-29'),
('Luciana Correia', 'luciana.correia@email.com', '2018-08-21'),
('Tatiane Rios', 'tatiane.rios@email.com', '2019-04-17'),
('Fernanda Figueiredo', 'fernanda.figueiredo@email.com', '2019-09-28'),
('Clara Barbosa', 'clara.barbosa@email.com', '2020-01-09'),
('Sofia Mendes', 'sofia.mendes@email.com', '2020-07-18'),
('Melissa Dias', 'melissa.dias@email.com', '2021-02-11'),
('Laura Lima', 'laura.lima@email.com', '2021-09-06'),
('Alice Fernandes', 'alice.fernandes@email.com', '2022-05-14'),
('Marta Sales', 'marta.sales@email.com', '2022-12-20'),
('Jéssica Moura', 'jessica.moura@email.com', '2023-04-25'),
('Tatiane Gomes', 'tatiane.gomes@email.com', '2023-10-15'),
('Carolina Nogueira', 'carolina.nogueira@email.com', '2024-03-12'),
('Amanda Ribeiro', 'amanda.ribeiro@email.com', '2025-05-20');
""")

# Salva a inserção no banco:
conn.commit()

# Conferindo:
cur.execute("SELECT * FROM alunas;")
print(cur.fetchall())

# Versão 2:

Usando Faker para gerar registros automaticamente.  
⚠️ Só exemplo para estudos futuros.

In [ ]:
# Este comando instala a biblioteca "faker" no ambiente do Colab.
# Ele deve ser usado apenas uma vez (ou sempre que o ambiente for reiniciado),
# porque o Colab não mantém pacotes extras instalados entre sessões.
# O ponto de exclamação (!) indica que é um comando de terminal (shell),
# não um comando Python puro.

!pip install faker

In [7]:
# Importa a classe Faker, que permite gerar dados falsos realistas
# (nomes, emails, datas etc.)
from faker import Faker

# Importa a biblioteca random, usada para gerar números aleatórios
# (ex.: escolher valores de forma randômica de uma lista).
import random

# Importa datetime (datas e horas) e timedelta (intervalos de tempo).
# Com eles, se pode manipular datas, somar ou subtrair dias, etc.
from datetime import datetime, timedelta

# Cria um gerador de dados do Faker configurado para o Brasil.
# Isso garante que os nomes, endereços e formatos de data sigam o padrão brasileiro.
fake = Faker('pt_BR')

In [ ]:
# Gera um primeiro nome feminino
# O parâmetro "_female" garante que o faker só traga nomes de mulheres.
nome = fake.first_name_female()

# Gera um sobrenome
# Pode ser combinado com o primeiro nome para formar o nome completo.
sobrenome = fake.last_name()

# Junta o nome e o sobrenome para formar o nome completo da aluna
nome_completo = nome + " " + sobrenome

# Cria um email baseado no nome (convertendo para minúsculas e trocando espaço por ponto).
# Isso garante que o email tenha relação com o nome da aluna.
email = f"{nome_completo.lower().replace(' ', '.')}@email.com"

# Gera uma data de nascimento aleatória entre 18 e 40 anos.
# O resultado é uma data completa, que depois formatamos no padrão YYYY-MM-DD.
data_nascimento = fake.date_of_birth(minimum_age=18, maximum_age=40).strftime("%Y-%m-%d")

# Exibe os dados gerados para a aluna
print("Nome:", nome_completo)
print("Email:", email)
print("Data de Nascimento:", data_nascimento)

### 3. Consultar registros

* Listar todas as alunas cadastradas com SELECT * FROM alunas.

* Consultar apenas alunas nascidas após o ano 2000.

* Consultar alunas filtrando pelo nome ou email (usando WHERE).

In [ ]:
# Listar todas as alunas cadastradas com SELECT * FROM alunas.

cur.execute("Select * from alunas;")
print(cur.fetchall())

In [ ]:
# Consultar apenas alunas nascidas após o ano 2000.

cur.execute("Select * from alunas where data_nascimento > '2000-01-01';")
print(cur.fetchall())

In [ ]:
# Consultar alunas filtrando pelo nome (usando WHERE)
cur.execute("Select nome from alunas where nome like '%maria%';")
print(cur.fetchall())

# Consultar alunas filtrando pelo email (usando WHERE)
cur.execute("Select email from alunas where email like '%maria%';")
print(cur.fetchall())

# Consultar alunas filtrando pelo nome ou email (usando WHERE)
cur.execute ("Select * from alunas where nome like '%maria%' or email like '%maria%';")
print(cur.fetchall())

#### 4. Atualizar registros

* Alterar o email de pelo menos uma aluna.

* Atualizar o nome de uma aluna existente.

* Corrigir a data de nascimento de pelo menos uma aluna.

In [ ]:
# Alterar o email de pelo menos uma aluna.

cur.execute("Update alunas set email = 'maria.souza.novo@email.com' where nome = 'Maria Souza';")
conn.commit()

cur.execute("Select * from alunas where nome = 'Maria Souza';")
print(cur.fetchall())

In [ ]:
# Atualizar o nome de uma aluna existente.

cur.execute("Update alunas set nome = 'Maria Souza Nova' where nome = 'Maria Souza';")
conn.commit()

cur.execute("SELECT * FROM alunas WHERE nome = 'Maria Souza Nova';")
print(cur.fetchall())

In [ ]:
# Corrigir a data de nascimento de pelo menos uma aluna

cur.execute("Select id, nome, data_nascimento from alunas where nome = 'Maria Souza Nova';")
print(cur.fetchall())

cur.execute("Update alunas set data_nascimento = '1989-01-01' where nome = 'Maria Souza Nova';")
conn.commit()

cur.execute("Select id, nome, data_nascimento from alunas where nome = 'Maria Souza Nova';")
print(cur.fetchall())

### 5. Remover registros

* Excluir pelo menos uma aluna da tabela utilizando DELETE.

* Excluir todas as alunas que tenham data de nascimento anterior a 1990.

In [ ]:
# Excluir pelo menos uma aluna da tabela utilizando DELETE.

cur.execute("Select * from alunas where nome = 'Ana Silva';")
print(cur.fetchall())

cur.execute("Delete from alunas where nome= 'Ana Silva';")
conn.commit()

cur.execute("Select * from alunas where nome = 'Ana Silva';")
print(cur.fetchall())

In [ ]:
# Excluir todas as alunas que tenham data de nascimento anterior a 1990

cur.execute("Select * from alunas where data_nascimento < '1990-01-01';")
print(cur.fetchall())

cur.execute("Delete from alunas where data_nascimento < '1990-01-01';")
conn.commit()

cur.execute("Select * from alunas where data_nascimento < '1990-01-01';")
print(cur.fetchall())